
@{
    ViewBag.Title = "DetailBookView";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/SanPham/Detail.css" rel="stylesheet" />


<h2>CHI TIẾT</h2>
<div class="book-details">
    <div class="book-image">
        <img src="~/images/a-z.jpg" alt="Book Image" />
    </div>
    <div class="book-info">
        <table>
            <tbody>
                <tr>
                    <th>Tên sách:Lập trình từ A - Z</th>
                </tr>
                <tr>
                    <th>Mã thể loại: S01 </th>
                </tr>
                <tr>
                    <th>Tên thể loại:Khoa Học</th>
                </tr>
                <tr>
                    <th>Mã tác giả: TG01</th>
                </tr>
                <tr>
                    <th>Tác giả :John Doe</th>
                </tr>
                <tr>
                    <th>Năm xuất bản: 2021 </th>
                </tr>
                <tr>
                    <th>Mã nhà xuất bản: NXB01</th>
                </tr>
                <tr>
                    <th>Nhà xuất bản:Tuổi trẻ</th>
                </tr>
                <tr>
                    <th>Số lượng:10</th>
                </tr>
                <tr>
                    <th>Mô tả: Hướng dẫn lập trình</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>