table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: Black;
}

th {
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

img {
    max-height: 200px;
    max-width: 100px;
}

#searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}



.edit-btn, .deltail-btn, .delete-btn {
    background-color: none;
    border: none;
    color: red;
    background-color: transparent;
}

.add-book {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}


.add-book:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

    .delete-btn:hover {
        background-color: darkred;
    }
